@charset "utf-8";

// 変数の定義
$base: #FFF;

$text: #36373B;
$text-link: #ACACAC;
$text-note: #E7766C;

$sbu-line: #F3F3F3;
$sbu-section: #B2DEE3;
$sbu-section2: #D2ECF0;

$border: #e5e7eb;

$icon: #F4AC8D;

$main-illustration-line: #4BB7C5;
$main: #72C4CF;


//　フォントの設定
$font-title: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-text: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "Hiragino Sans", Meiryo, sans-serif;

